<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HathSayBaat - Model</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='model.css') }}"
    />
    <!-- Remixicons CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h2 id="main-logo">HathSayBaat</h2>
      <div class="socials">
        <ul>
          <li>
            <a
              href="https://github.com/kamal-stark-dev/Indian-Sign-Language-Translation-SIH"
              target="_blank"
              ><i class="ri-github-fill"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="ri-twitter-x-fill"></i></a>
          </li>
          <div id="vertical-line"></div>
          <li>
            <a id="dark-theme">
              <i class="ri-sun-line"></i>
            </a>
            <!-- <i class="ri-moon-line"></i> -->
          </li>
          <li>
            <a href="#"><i class="ri-translate-2"></i></a>
          </li>
          <li><a href="#">Log in</a></li>
        </ul>
      </div>
    </header>
    <div class="live-model">
      <h2>HathSayBaat - Test Phase Model</h2>
      <img src="{{ url_for('video_feed') }}" />
    </div>

    <script src="{{ url_for('static', filename='model.js') }}"></script>
  </body>
</html>
