/* Lato - Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-lato);
}

body {
  margin: 0.6rem 2rem;
  background-color: var(--primary-color);
  color: var(--font-color);
}

:root {
  --font-lato: "Lato", Helvetica, sans-serif;
  --primary-color: #fff;
  --secondary-color: #000;
  --font-color: #222;
  --highlight-color: #00ff00;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  flex-grow: 1; /* Allow nav to take up available space */
  display: flex;
  justify-content: center; /* Center the nav items */
}

.cta {
  padding: 0.4rem 0.8rem;
  border: 1px solid black;
  border-radius: 2rem;
}

#main-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-image {
  width: 4rem;
  margin-top: -6px;
  padding-left: 6px;
}

.socials i {
  font-size: 1.6rem;
}
